body {
	background-color: #3a3a3a;
	color:#eeeeee;
	font-family: "Tahoma";
	-webkit-user-select: none;
	font-size: 11px;
}
a {
	color: #F0f0f0;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
ul.list, ul.sp-list {
	display: table;
}
ul.list li, ul.sp-list li {
	display: table-row;
}
li > * {
	display: table-cell;
	color: #FFFFFF;
	text-shadow: 0px 1px 1px #000000;
	padding: 5px;
}
ul.list .track, ul.list li:nth-child(odd) {
	background-color:#333333;
	padding:4px;
	
}

ul.list .track, ul.list li:nth-child(even) {
	background-color:#444444;
	padding:4px;
}

.sp-light li > * {
	color: #000000;
	text-shadow: 0px 1px 1px #000000;
	padding: 5px;
}
.sp-light ul.list .track, .sp-light  ul.list li:nth-child(odd) {
	background-color:#eeeeee;
	padding:4px;
	
}

.sp-light ul.list .track, .sp-light ul.list li:nth-child(even) {
	background-color:#e0e0e0;
	padding:4px;
}