
.sp-tabbar {
    height: 28px;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: 15pt;
}
.sp-tab {
    float: left;
    display: block;
    height: 28px;
    cursor: pointer;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.sp-tab {
    text-transform: uppercase;
    color: lighten(@fore-color, 1);
    opacity: 0.5;
    font-weight: thin;
    font-size: 15px;
}
.sp-tab:hover {
    text-decoration: none;
   
    opacity: 1;
    color: lighten(@fore-color, 1);
    
}
.sp-tab-active {
    opacity: 1;
    border-bottom: 2px solid @primary-color;
    color: lighten(@fore-color, 3);
    font-weight: bold;
}