.header {
	background-color: #222222;
	color: #FFFFFF;
	padding: 20px;
	text-align:middle;
}
.footer {
	background-color: #222222;
	color: #FFFFFF;
	padding: 20px;
	text-align:middle;
}
body {
	background-color: #3a3a3a;
	color:#eeeeee;
	font-family: "Tahoma";
	-webkit-user-select: none;
	font-size: 11px;
}
a {
	color: #F0f0f0;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
ul.list, ul.sp-list {
	display: table;
}
ul.list li, ul.sp-list li {
	display: table-row;
}
li > * {
	display: table-cell;
	padding: 5px;
}
ul.list .track, ul.list li:nth-child(odd) {
	background-color:#333333;
	padding:4px;
}
