
header {
	position: fixed;
	left: 0px;
	width: 100%;
	height: 56px;
	box-sizing: border-box;
	padding: 15pt;
	background-image: url('../img/header.png');
}
* {

	font-family: 'Tahoma';
}
.cover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.btn, select.form-control {
	border-radius: 18px;
	padding: 1pt 12pt;
	border: 1px solid #222;
	font-family: 'Arial';
	font-size: 13px;
	background: -webkit-linear-gradient(-90deg, rgba(229, 229, 229, 1), rgba(195, 195, 195, 1));
	border-image: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(53, 53, 53, 1));
	color: black; 
	text-shadow: 0px 1px 0px rgba(255, 255,255 .5);
	box-shadow:inset 0px 0px 1px rgba(255, 255, 255, .4), 0px 2px 0px rgba(0, 0, 0, .75);
}
.btn:active {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #808080),
	color-stop(1, #474747)
);
background-image: -o-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: -moz-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: -webkit-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: -ms-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: linear-gradient(to bottom, #808080 0%, #474747 100%);	
}
a {
	color: #f0f0f0;
	text-decoration: none;
}
.coverart {
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
	min-width:120px;
	min-height: 120px;
	border: none;
}
.sp-tabbar {
	box-sizing: border-box;
	top: 56px;
	height: 28px;
	background: rgba(99, 99, 99, 1);
	border-top: 1px solid rgba(84, 84, 84, 1);
}
.sp-tabbar-tab {
	margin-top: -2px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	padding: 5px;
	height: 29px;
padding-left: 20px;
padding-right: 20px;

	border-right: 1px solid rgba(116, 116, 116, 1);
	box-shadow: inset -1px 0px 0px rgba(84, 84, 84, 1); 
	font-size: 11pt;
	text-shadow: 0px -1px 0px black;
}
.sp-tabbar-tab-active {
	background-color: rgba(55, 55, 55, 1);
	border-radius: 4px 4px 0px 0px;
}
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
	height: 42px;
	background-image: url('../img/footer.png');
}
.divider {
	background-color: rgba(97, 97, 97, 1);
	color: #fafafa;
	padding: 10px;
}
.sp-viewstack {
	position: fixed;
	left: 320px;
	top: 56px;
	height: calc(100% - 56px - 42px);
	width: calc(100% - 320px);
}
.sp-view, .sp-app-view {
	display: none;
	position: fixed;
	left: 320px;
	top: 56px;
	height: calc(100% - 56px - 42px);
	width: calc(100% - 320px);

	
}
.sp-tab-view {
	overflow:scroll;
	position: fixed;
	left: 320px;
	top: calc(56px + 28px);
	height: calc(100% - 56px - 42px - 28px);
	width: calc(100% - 320px);
}
*::-webkit-scrollbar-corner {
	background-color: rgba(42, 42, 42, 1);
	
}
*::-webkit-scrollbar
{
	background-color: rgba(42, 42, 42, 1);
	background: linear-gradient(90deg, rgba(42, 42, 42, 1), rgba(79, 79, 79, 1));
}
*::-webkit-scrollbar-thumb {
	background: linear-gradient(90deg, rgba(163, 163, 163, 1), rgba(139, 139, 139, 1));
	background-color: rgba(42, 42, 42, 1);
	
}
.sp-fieldset {
	background-color: rgba(105, 105, 105, 1);
	padding: 20px;
	box-sizing: border-box;
	font-size: 13pt;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, .25);
	border-radius: 15pt;
	border: none;
}
.form-control {
	background-color: white;
	border: none;
	border-radius: 7pt;
	border: 1px solid #666;
	box-shadow:inset 0px 1px 0px rgba(0, 0, 0, .2);
	padding: 2pt 15pt;
	font-family: "Tahoma";
	font-size: 11px;
}
.form-search {
	border-radius: 10px;
}

label, input, textarea {
	display: block;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15%;
	padding-right: 15%;
}
.sp-article {
	box-sizing: border-box;
	padding: 25pt;
	width: 100%;
	background-color: #FFEEEE;
	color: black;
	font-family: "Times New Roman";
	font-size: 20pt;
	
}
.sp-toolbar {
	border-radius: 4px;
	height: 40px;
	border-radius:8px;
	padding: 4pt;
	background-color: rgba(30, 30, 30, 1);
	background: -webkit-linear-gradient(-90deg, rgba(40, 40, 40, 1), rgba(30, 30, 30, 1));
	box-shadow: inset 0px 0px 3px black, 0px 0px 2px rgba(255, 255, 255, .2);
	box-sizing: border-box;
}
.sp-toolbar a {
	float: left;
}
nav ul {
	padding: 0px;
	margin: 0px;
}
nav ul li {
	width: 100%;
	height: 18px;
	margin: 0px;
	padding: 0px;
}
.nowplaying {
	position: fixed;
	top: calc(100% - 300px);
	left: 0px;
	height: 320px;
	width: 320px;
	background-color: #111;
}
nav {
	overflow: scroll;
	left: 0px;
	width: 320px;
	background-color: rgba(71, 71, 71, 1);
	top: 56px;
	position: fixed;
	height: calc(100% - 56px - 42px - 256px );
}
html, body {
	margin: 0px;
}
body {
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(55, 55, 55, 1);
	color: rgba(204, 204, 204, 1);
	font-family: "Tahoma";
	font-size: 11px;
}

nav ul li a {
	padding-left: 5pt;
	font-size: 13px;
	color: #ccc;


}
nav ul li a i {
	color: white;
	margin-right: 8pt;
}
hr {
	border: none;
	border-top: 1px solid #222;
}
nav ul li {
	height: 20px;
	box-sizing: border-box;
	padding: 5px;
	display: block;
}