@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
nav ul {
    width: 100%;
}
footer, header {

    display: flex;
    flex-direction: row;
}
#mainView {
    display: none;
}
main {
    display: flex;
    flex-direction: row;
}
nav ul li {

    border-left: 5px solid transparent;
}
nav ul li a {
    width: 100%;
}
nav ul li.active, nav ul li:active  {
    background-color: #444;
    color: white;
    border-left: 5px solid #77a800;
}
nav ul li.active a, nav ul li:active a {
    color: white;
}
nav ul li a {
    cursor: default;
}
nav ul li.active a, nav ul li.active i {
    color: white;
}
nav ul li i {
    width: 18px;
}
.main {
    display: none;
}
.throbber {
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    -webkit-transform: translate(-50%, -50%);
    background-image: url('../img/ajax-loader.gif');
    position: fixed;
}

body, html {
    min-width: 100%;
    min-height: 100%;
}
.sp-table tr:focus {
    outline: none;
}
.sp-table tr:focus td {
    background-color: #333;
}
.sp-table tr:hover {
    background-color: #222;
}
.sp-table tbody tr td {

    color: #aaa;
}
.sp-bar td {
    color: #fff;
}
.alert {
    height: 28px;
}

aside {
    width:320px;
}
header {
    padding: 20px;
    height: 56px;
    background: #222;
    border-bottom: 1px solid #444;
}
footer {
    padding: 20px;
    height: 16px;
    background: #222;
    border-top: 1px solid #444;
}
* {

    font-family: 'Montserrat';
}
.cover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.btn, select.form-control {
    border-radius: 18px;
    padding: 1pt 12pt;
    border: 1px solid #222;
    font-family: 'Arial';
    font-size: 13px;
    background: -webkit-linear-gradient(-90deg, rgba(229, 229, 229, 1), rgba(195, 195, 195, 1));
    border-image: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(53, 53, 53, 1));
    color: black; 
    text-shadow: 0px 1px 0px rgba(255, 255,255 .5);
    box-shadow:inset 0px 0px 1px rgba(255, 255, 255, .4), 0px 2px 0px rgba(0, 0, 0, .75);
}
.btn:active {
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #808080),
    color-stop(1, #474747)
);
background-image: -o-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: -moz-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: -webkit-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: -ms-linear-gradient(bottom, #808080 0%, #474747 100%);
background-image: linear-gradient(to bottom, #808080 0%, #474747 100%); 
}
a {
    color: #f0f0f0;
    text-decoration: none;
}
.coverart {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    min-width:120px;
    min-height: 120px;
    border: none;
}
.sp-tabbar {
    box-sizing: border-box;
    top: 56px;
    height: 28px;
    background: rgba(0, 0, 0, .0);
    border-bottom: 1px solid #222;
}
.sp-tabbar-tab {
    margin-top: -2px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    height: 29px;
    font-size: 11pt;    
}
.sp-tabbar-tab-active {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #77a800;
}
footer {
    width: 100%;
    height: 42px;
    background-color: #333;
}
.divider {
    border-bottom: 1px solid #555;
}
td .fa {
    font-size: 15pt;
}

.sp-tab-view {
    width: 100b%;
    height: 100%;
}
.sp-fieldset {
    background-color: rgba(105, 105, 105, 1);
    padding: 20px;
    box-sizing: border-box;
    font-size: 13pt;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, .25);
    border-radius: 15pt;
    border: none;
}
.form-control {
    background-color: white;
    border: none;
    border-radius: 7pt;
    border: 1px solid #666;
    box-shadow:inset 0px 1px 0px rgba(0, 0, 0, .2);
    padding: 2pt 15pt;
    font-family: "Tahoma";
    font-size: 11px;
}
.form-search {
    border-radius: 10px;
}

label, input, textarea {
    display: block;
}
.container {
    padding-left: 15%;
    padding-right: 15%;
}
.sp-article {
    box-sizing: border-box;
    padding: 25pt;
    width: 100%;
    background-color: #FFEEEE;
    color: black;
    font-family: "Times New Roman";
    font-size: 20pt;
    
}
.sp-toolbar {
    
}
.sp-toolbar a {
    float: left;
}
nav ul {
    padding: 0px;
    margin: 0px;
}
nav ul li {
    width: 100%;
    height: 18px;
    margin: 0px;
    padding: 0px;
}
.nowplaying {
    background-color: #111;
    height:256px;
}
nav {
    overflow: scroll;
    background-color: rgba(40, 40, 40, 1);
    width:100%;
}
html, body {
    margin: 0px;
}
body {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(25, 25, 25, 1);
    color: rgba(204, 204, 204, 1);
    font-family: "Tahoma";
    font-size: 11px;
}

nav ul li a {
    padding-left: 5pt;
    font-size: 15px;
    color: #aaa;
    display: block;


}
nav ul li a i {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.sp-tab-view {
    height: 100%;
}
.sp-container {
    padding: 0pt 10%;
    height: auto;
    overflow: visible;
}
hr {
    border: none;
    border-top: 1px solid #474747;
}
nav ul li {
    height: 25px;
    box-sizing: border-box;
    display: block;
}
.sp-table {
    border-collapse: collapse;
}
.sp-table thead {

}
.sp-table tr {
    height: 10pt;

}
aside .sp-tabbar {
    display: none;
}
.sp-table tr th {

    border-right: 1px solid #252525;
}
.sp-table tr td, .sp-table tr th {
    color: #f0f0f0;
    font-size: 9pt;
    border-bottom: 1px solid #252525;
    padding: 5pt;
}
.sp-table td.fill {
    background-color: #77a800;
    height:16pt;
}
td.border {
    border: 3px solid #444;
    background-color: #444;
    color: black;
    height:16pt;
}
td span.tag {
    color: black;
}
 td.border span.tag {
    color: rgba(255, 255, 255, .5);
 }
th span.tag {
    opacity: 0.5;
}

td[data-priority="2"] {
    opacity: 0.5;
}

.btn {
    border-radius: 100pt;
    border: 1px solid #888;
    color: white;
    background: transparent;
    padding: 5pt 15pt;


}
.btn:active {
    border: 1px solid #eee;
    background: none;
}

.btn-primary, .btn-primary:active {
    background-color: #77a800;
    border: #77a800;
    color: rgba(255, 255, 255, .9);
}

meter {
    -webkit-appearance: none;
    background: none;
    background-color: transparent;
    height: 7px;
    width: 30px;
}
 meter::-webkit-meter-bar {
    -webkit-appearance: none;
    background: none;
    background-color: transparent;
    background-image: url('../img/popularity-bg.png');
}
 meter::-webkit-meter-optimum-value {
    -webkit-appearance: none;
    background: none;
    background-image: url('../img/popularity-light.png');
}