@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("bootstrap.css");
@import url("font-awesome.min.css");
body {
	font-family: "Open Sans Condensed";
	background-color: lighten(@back-color, 3.5);
	color: @fore-color;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
h1 {
    color: @fore-color;
    font-weight: thin;
}
.sp-image {
    background-color: white;
}
h2.divider {
	font-size: 15pt;
	width: 100%;
	color: #888;
/*	border-bottom: 1px solid rgba(255, 255, 255, .2);*/
}
.entry {
    background-color: rgba(255, 255, 255, .25);
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
    color: @fore-color;
}
.entry-content {
    padding: 20px;
}

a {
	color: @fore-color;
}
a:hover {
	text-decoration: none;
}
.mark {
    color: @primary-color;
}
.xlist li {
    float: left;
    margin-right: 80px;
    list-style:none;
}
.xlist {
    text-align: middle;
}
h2.divider {
    height:28px;
}

.image {
    background-size: 100%;
}
h3 {
    margin-bottom: 20px;
}

.header-image,.entry-image {
	min-height: 320px;
	background-image: url('sp://resources/img/banner.png');
	height:320px;
	background-size: cover;
	color: white;
}
.title {
    font-weight: bold;
    margin-top: 10pt;
}
.entry-image {
    min-height: 60px;
}

.titleblock {
    top: 170px;
    position: absolute;
}
.image {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    display: block;
    background-color: white;
}
.btn-lg {
    font-size: 15pt;
}
.intro-image {
    color: white;
}

.header-image a {
    color: white;
}
a.btn-lg {
    color: @fore-color;
}
a.btn-primary {
    color: white;
}
/*************
 * Spoyler Tabbar widget
 *************/
.intro-image {
    background-image: url('sp://resources/img/banner.png');
    min-height: 250px;
    background-size: cover;
}
.plasma {
    background-color: rgba(0, 0, 0, .8);
    top: 0px;
    position:absolute;
    width: 100%;
    height: 250px;
    padding: 20px;
}
.sp-header {
    min-height: 100px;
}
section {
	display: none;
}
td p {
    
    line-height: 10px;
    padding: 0px;
}
p {
    font-size: 15pt;
}
.entry-content h3 a {
    color: @fore-color !important;
}
.btn {
    
   color: @fore-color;
}

 

.sp-tracklist {
    height: 28px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    font-size: 15pt;
}
.sp-tracklist th {
    border-right: 1px solid rgba(255, 255, 255, .05);
    
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    height: 28px;
    cursor: pointer;
    padding-left: 15px;
    opacity: 0.5;
    font-size: 13px;
    padding-right: 15px;
    text-transform: uppercase;
    
}
a:hover {
    color: @fore-color;
}
.sp-tracklist tr td {
    color: lighten(@fore-color, 1);
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    opacity: 1;
    
    font-weight: thin;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.sp-tracklist tr:hover td {
    background-color: rgba(255, 255, 255, .05);
}
.sp-tab:hover {
    text-decoration: none;
   
    opacity: 1;
    color: lighten(@fore-color, 1);
    
}
.sp-tab-active {
    opacity: 1;
    border-bottom: 2px solid @primary-color;
    color: lighten(@fore-color, 3);
    font-weight: bold;
}

/***************
 * Buttons
 **************/
.btn {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 51px;
    box-sizing: border-box;
    float: left;
    height: 32px;
}
.btn-primary {
    background-color: @primary-color;
    color: @back-color;
}

.btn {
    /*background-color: rgba(0, 0, 0, .35);*/
   border: 2px solid rgba(255, 255, 255, .25);
   background-color: transparent;
   font-weight: bold;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 4px;
   text-transform: uppercase;
    margin-right: 8px;
}

.btn-primary:hover {

    color: @back-color;
}
.btn:hover {
    border-color: @fore-color;
 
}
.btn:active {
    border-color: @primary-color;
}

.btn-primary {
    border: 2px solid darken(@primary-color, 2.0);
    background-color: darken(@primary-color, 2.0);
    color: @back-color !important;
    
}
.btn-primary:hover {
    
    border: 1px solid lighten(@primary-color, 2.0);
    background-color: lighten(@primary-color, 2.0);
}
.btn-primary:active {
    color: @back-color;
    border: 1px solid darken(@primary-color, 3.0);
    background-color: darken(@primary-color, 3.0);
}
 