@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import url("bootstrap.css");
@import url("font-awesome.min.css");
body {
	font-family: "Open Sans Condensed";
	background-color: @back-color;
	color: @fore-color;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
a {
    
  
}
h1 {
    color: @primary-color;
}
h2.divider {
	font-size: 15pt;
	width: 100%;
	color: #888;
/*	border-bottom: 1px solid rgba(255, 255, 255, .2);*/
}
.entry {
    background-color: rgba(255, 255, 255, .25);
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
    color: @fore-color;
}
.entry-content {
    padding: 20px;
}
.btn {
    /*background-color: rgba(0, 0, 0, .35);*/
   border: 2px solid @primary-color;
   background-color: @back-color;
}

a {
	color: @fore-color;
}
a:hover {
	text-decoration: none;
}
.mark {
    color: @primary-color;
}
.xlist li {
    float: left;
    margin-right: 80px;
    list-style:none;
}
.xlist {
    text-align: middle;
}
h2.divider {
    height:28px;
}
.btn {
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
    border-radius: 51px;
}
.image {
    background-size: 100%;
}
h3 {
    margin-bottom: 20px;
}
.btn-primary {
	background-color: @primary-color;
	color: @back-color;
}
.btn-primary:hover {

	color: @back-color;
}
.btn:active {
	background-color: darken(@primary-color, 1.5);
}
.header-image,.entry-image {
	min-height: 320px;
	background-image: url('sp://resources/img/banner.png');
	height:320px;
	background-size: cover;
	color: white;
}
.title {
    font-weight: bold;
    margin-top: 10pt;
}
.entry-image {
    min-height: 60px;
}

.titleblock {
    top: 170px;
    position: absolute;
}
.image {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    display: block;
    background-color: white;
}
.btn-lg {
    font-size: 15pt;
}
.intro-image {
    color: white;
}

.header-image a {
    color: white;
}
a.btn-lg {
    color: @fore-color;
}
a.btn-primary {
    color: white;
}
/*************
 * Spoyler Tabbar widget
 *************/
.intro-image {
    background-image: url('sp://resources/img/banner.png');
    min-height: 250px;
    background-size: cover;
}
.plasma {
    background-color: rgba(0, 0, 0, .8);
    top: 0px;
    position:absolute;
    width: 100%;
    height: 250px;
    padding: 20px;
}
.sp-tabbar {
	background-color: rgba(0, 0, 0, .5);
	height: 28px;
	display: block;
	width: 100%;

	font-size: 15pt;
}
.sp-tabbar > .sp-tab {
	border-bottom: 1px solid @fore-color;
	float: left;
	display: block;
	height: 28px;
	width: auto;
}
.sp-tab-active {
	border-bottom: 3px solid @primary-color;
}
section {
	display: none;
}
td p {
    
    line-height: 10px;
    padding: 0px;
}
p {
    font-size: 15pt;
}
.entry-content h3 a {
    color: @fore-color !important;
}
.btn {
    
   color: @fore-color;
}
