<dom-module id="bungalow-album" attributes="uri">
    <link rel="import" href="https://sporal-drsounds.c9users.io/apps/components/playlist.html">
    <link rel="import" href="https://sporal-drsounds.c9users.io/apps/components/album.html">
    <template>
        <style>
            @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
            
            @import url('https://sporal-drsounds.c9users.io/themes/main.css');

            
            h1 {
                font-size: 35pt;
            }
        </style>
        <script src="https://sporal-drsounds.c9users.io/apps/views/scripts/cosmos.js"></script>
        <bungalow-header name="{{name}}"></bungalow-header>
        <bungalow-playlist uri="{{uri}}"></bungalow-playlist>                
    </template>
    <script>
        Polymer({
            is: 'bungalow-album',
            icon: 'cube',
            followers: '0',
            theme: 'light',
            'name': '',
            ready: function () {
                var self = this;
                var parts = this.uri.split(/\:/);
                var id = parts[2];
                cosmos.request('get', 'cosmos://v1/album/' + id, {}).then(function (data) {

                    self.name = data.name;
                });

            }
        });
    </script>
</dom-module>