<dom-module id="bungalow-collection" attributes="uri,name,author,author-uri,image">

    <template>
        <style>
            @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
            
            @import url('http://play.bungalow.qi/themes/main.css');

            
            h1 {
                font-size: 35pt;
            }
        </style>
        <script src="http://appfinder.bungalow.qi/views/scripts/cosmos.js"></script>
        <div class="collection">
        </div>
          
    </template>
    <script>
    Polymer({
        is: 'bungalow-colection'
        'uri': '',
        ready: function () {
            
        }
    });
    </script>
</dom-module>