<dom-module name="bungalow-playlist" attributes="uri">
    <link rel="import" href="http://play.bungalow.qi/apps/views/components/track.html">
    <template is="dom-bind">
        <style>
            @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
            @import url('http://play.bungalow.qi/apps/chrome/themes/main.css');
              
        </style>
        <table class="sp-table" width="100%" data-uri="{{uri}}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Track</th>
                    <th>Artist</th>
                    <th>Duration</th>
                    <th>Album</th>
                    <th>Popularity</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{tracks}}">
                    <bungalow-track track="{{item}}" />
                </template>
            </tbody>
        </table>
    </template>
    <script src="http://play.bungalow.qi/apps/views/scripts/cosmos.js"></script>
    <script>
    Polymer({
        is: 'bungalow-playlist',
        properties: {
            uri: String,
            tracks: Array
        },
        ready: function () {
            var uri = this.uri;
            var self = this;
            console.log(this);
            console.log("URI", this.uri);
            if (uri.match(/^bungalow\:search\:/)) {
                var query = uri.substr('spotify:search:'.length);
                cosmos.request('get', '/music/search/?q=' + query + '&type=track').then(function (data) {
                    var tracks = data.objects;
                    self.tracks = tracks;
                });
            } else if (uri.match(/^bungalow\:album\:/)) {
                console.log("TGIF");
                var parts = uri.split(/\:/);
                var albumId = parts[2];
                console.log(cosmos);
                cosmos.request('get', '/music/album/' + albumId + '/tracks').then(function (data) {
                    self.tracks = tracks;
                });
            } else if (uri.match(/^bungalow\:user\:(.*)\:playlist\:(.*)/)) {
                console.log("TGIF");
                var parts = uri.split(/\:/);
                var playlistId = parts[4];
                var userId = parts[2];
                console.log(cosmos);
                cosmos.request('get', '/music/users/' + userId + '/playlists/' + playlistId + '/tracks').then(function (data) {
                    self.tracks = data.tracks;
                });
            }
        }
    });
    </script>
</dom-module>