
<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="bungalow-collection" attributes="uri,name,author,author-uri,image">

    <template>
        <style>
            @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
            @import url("../themes/main.css");

            
            h1 {
                font-size: 35pt;
            }
        </style>
        <script src="../scripts/cosmos.js"></script>
        <div class="collection">
        </div>
          
    </template>
    <script>
    Polymer({
        'uri': '',
        ready: function () {
            
        }
    });
    </script>
</polymer-element>