<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="info-bar">

    <template>
        <style>
            @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
            @import url('../themes/main.css');
            :host {
                background-color: #770000;
                color: #ffaa00;
                height: 20pt;
                padding:0pt;
                line-height: 20pt;
                font-size: 10pt;
                padding-left: 10pt;
            }    
            :host p {
                line-height: 0pt;
            }
        </style>
        <div id="host">
            <i class="fa fa-flag"></i> <content select="description"></content>
        </div>                
    </template>
    <script>
    Polymer({

    });
    </script>
</polymer-element>